.item-add-form {
	margin-top: 10px;
}

.item-add-form input {
	margin-right: 3px;
}

.item-add-form button {
	flex-basis: 120px;
}

.item-add-form input {
	margin-right: 3px;
}

.item-add-form .btn-outline-secondary {
	flex-basis: 120px;
}
